!!! XML
!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
    %title ChatSpace
  %body
    .flash-box
      .notice
        グループを作成しました！
    .wrapper
      .side
        .side__header
          .side__header__box
            %p.side__header__box__user-name
              UserName
            %ul.side__header__box__menu
              %li.side__header__box__menu__edit-user
                %a{ href: "#"}
                  %i.fa.fa-edit
              %li.side__header__box__menu__new-group
                %a{ href: "#"}
                  %i.fa.fa-cog
        .groups
          %a
            .group
              %p.group__group-name
                test-name
              %p.group__latest-message
                test-message
      .main
        .main-header
          .main-header__group-box
            %h2.main-header__group-box__group-name
              group-name
            %ul.main-header__group-box__member-list
              Member :
              %li.main-header__group-box__member-list__member
                nyanco
          %a{ href: "#"}
            .main-header__edit-btn
              Edit
        .messages
          .message
            .message__info
              %p.message__info__user
                nyanco
              %p.message__info__date
                2019/03/18(Mon) 15:39:49
            %p.message__text
              こんばんは！
        .form
          %form{action: "/", method: "post"}
            .input-box
              %input.input-box__text{placeholder: "type a message", name: "message", size: "40"}
              %label.input-box__image
                %i.fa.fa-image
                %input.input-box__image__file{type: "file", name: "message[image]"}
            %input.submit-btn{type: "submit", value: "send"}


