.side {
  box-sizing: border-box;
  width: 300px;
  color: $white;
  &__header {
    background-color: $side-header-color;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &__user-name {
        font-weight: bold;
        font-size: $side-header-font;
      }
      &__menu {
        display: flex;
        font-size: $side-header-font;
        &__edit-user {
          margin-right: 0.5rem;
        }
        .icon {
          color: $white;
        }
      }
    }
  }
  .groups {
    height: calc(100vh - 100px);
    background-color: $side-color;
    padding : 0 20px;
    overflow: scroll;
    .group {
      @include group;
    }
  }
}
